<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href='/index.css'/>
  <link rel="stylesheet" href='/meeting_0.css'/>

  <script>
    const ROOM_ID = '<%= roomId %>'
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script src="script.js"></script> -->
  <title>RATA 線上會議</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, auto-fill);
      grid-auto-rows: 100px;
    }
    @media only screen and (min-width: 768px) {
      #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 100px;
    }
    }    
    
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -moz-transform:scaleX(-1);
      -webkit-transform:scaleX(-1);
      -o-transform:scaleX(-1);
      transform:scaleX(-1);
    }
    .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
  </style>
  <script>
    function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

// Hide all elements with class="containerTab", except for the one that matches the clickable grid column
function tap(val) {
  let msg = document.querySelector('#msg');
  msg.innerHTML = val;
  console.log(msg)
  
  }


  function addPostShow() {
    let addPost = document.querySelector('#post');
    let showBtn = document.querySelector('#addPostShowBtn');
    if(showBtn.innerHTML === '+'){
      addPost.style.display = 'block';
      showBtn.innerHTML = '-';
      // console.log('addPostShow');

    }else{
      addPost.style.display = 'none';
      showBtn.innerHTML = '+';
      // console.log('addPostUnShow');

      }
    }


async function createTask(){

  let subject = document.querySelector('#subject').value;
  let assigntoUsers = document.querySelector('#assignto').value;
  let detail = document.querySelector('#detail').value;
  let type= document.querySelector('#type').value;
  let startat = document.querySelector('#startat').value;
  let endat = document.querySelector('#endat').value;
  let location = document.querySelector('#location').value;
  let important = document.querySelector('#important').value;
  // let urgent = document.querySelector('#urgent').value;

  let host = "Austin";
  var myRe = /(@[A-Z][a-z]+)/g;
  var myArray = myRe.exec(assigntoUsers);
  console.log('assignto', myArray.input)
  var formData = new FormData();
  formData.append('host', host);
  formData.append('subject', subject);
  formData.append('assignto', myArray.input);
  formData.append('detail', detail);
  formData.append('type', type);
  formData.append('startat', startat);
  formData.append('endat', endat);
  formData.append('important', important);
  // formData.append('urgent', urgent);


  formData.append('location', location);

  var res = await window.fetch("/api/create_task", {
    body: formData,
    method: 'POST',
    redirect:"follow",
    });

  
    console.log('createTaskres', res.ok);

}

async function deleteTask(id){

  var formData = new FormData();
  formData.append('id', id);

  var res = await window.fetch("/api/delete_task", {
    body: formData,
    method: 'POST',
    redirect:"follow",
    });
  console.log("deleteTask")


}

const getTasks = async function(){



  var usersRes = await window.fetch("/api/get_all_user_name", {
      method: 'POST'
      })
    
    console.log('getUserNameRes', usersRes.ok);
    const usersSrc = await usersRes.json();
if(usersSrc.data.length > 0){

  for (let i = 0; i < usersSrc.data.length; i++) {
    let name = usersSrc.data[i].data.name
  let msg = document.querySelector(`#${name.replace(' ', '-')}`);

  var formData = new FormData();
  formData.append('name', name);

  var res = await window.fetch("/api/get_task_by_name", {
    body: formData,
    method: 'POST'
    })
  
    console.log('getTaskRes', res.ok);
    const src = await res.json();

  var tasks = src.data;
  tasks.sort(function (a, b) {
    return !a.data.endat - !b.data.endat ||
    dateCompare(new Date(b.data.endat), new Date(a.data.endat))
});

function dateCompare(a, b){
  if (a > b) return -1;
  if (a < b) return 1;
  return 0;
}

// console.table(tasks)
  if(tasks.length > 0){
    for(task of tasks){
      const card = document.createElement('div');
      const title = document.createElement('h5');
      const detail = document.createElement('a');
      const endat = document.createElement('a');
      const director = document.createElement('a');
      const location = document.createElement('a');
      let vcBtn = document.createElement('a');
      const delBtn = document.createElement('button');
      const important = document.createElement('div');
      // const urgent = document.createElement('div');



      card.className = "card";
      card.id = task.id;
      if(task.data.subject){
        title.className = 'title'
        title.innerHTML = task.data.subject;
      }
      if(task.data.detail){
        detail.innerHTML = task.data.detail;
        detail.className = 'detail'
        console.log(task.data.detail)
      }

      if(task.data.director){
        director.innerHTML = task.data.director + ' :';
        director.className = 'director'
      }
      if(task.data.location){
        location.innerHTML = 'at ' + task.data.location;
        location.className = 'location'
      }
            if(task.data.location){
        location.innerHTML = 'at ' + task.data.location;
        location.className = 'location'
      }
      if(task.data.endat){
        var todayDate = new Date();
        if(new Date(task.data.endat) <= todayDate){
          endat.style = 'color:red;'
          card.style = 'border-color:red;'
        }else{
          card.style = 'border:none;'
        }
        endat.className = 'endat'
        endat.innerHTML = task.data.endat;
      }
      if(task.data.important){
        if(task.data.important=='y'){
          important.className = "tag tag-purple"
          important.innerHTML = 'important'
        // }else{
        //   important.className = "tag tag-teal"
        //   important.innerHTML = 'unimportant'
        }
      }
      // if(task.data.urgent){
      //   if(task.data.urgent=='y'){
      //     urgent.className = "tag tag-pink"
      //     urgent.innerHTML = 'urgent'
      //   }else{
      //     urgent.className = "tag tag-green"
      //     urgent.innerHTML = 'unurgent'
      //   }
      // }
      card.appendChild(director);
      card.appendChild(title);
      card.appendChild(important)
      // card.appendChild(urgent)
      card.appendChild(detail);
      if(task.data.type){
        if(task.data.type == 'vc'){
          console.log('create meetingBtn', task.id)
          vcBtn.innerHTML = 'Meeting'
          vcBtn.className = 'vcBtn center'
          vcBtn.target="_blank";
          vcBtn.href = `/meeting/${task.id}`
          card.appendChild(vcBtn)
        }
        location.innerHTML = 'at ' + task.data.location;
        location.className = 'location'
      }
      card.appendChild(endat);
      card.appendChild(location);
      delBtn.innerHTML = 'complete'
      delBtn.className = 'delBtn'
      delBtn.addEventListener("click", async function(e) { 
        e.preventDefault();
        deleteTask(task.id)
        await sleep(1000);
        location.href = location.href;
      })
      card.appendChild(delBtn)
      console.log('create deletingBtn', task.id)
      msg.appendChild(card);
  
    }
  }
}
}


}



const getUsersName = async function(){

  var res = await window.fetch("/api/get_all_user_name", {
    method: 'POST'
    })
  
    console.log('getUserNameRes', res.ok);
    const src = await res.json();

  if(src.data.length > 0){

  for (let i = 0; i < src.data.length; i++) {
    const userList = document.querySelector('.users');
    let userWrap = document.createElement('div');
    let user = document.createElement('div');
    let a = document.createElement('a');
    a.target = '_blank'
    a.style = 'text-decoration: none;'
    a.href = `/connect/${USER_ID}/${src.data[i].id}`;

    let img = document.createElement('img');
    let ppath = src.data[i].data.photo.split("/")[1]
    img.src = `upload/${ppath}.jpg`
    
    let userTime = document.createElement('div');
    user.className = 'user';
    // user.addEventListener('click',  function(){
    //   console.log('clicked ', src.data[i].data.name);
    //   getTaskByName(src.data[i].data.name);
    // });
    a.innerHTML = src.data[i].data.name;
    userWrap.appendChild(img);
    user.appendChild(a);
    userTime.id = `${src.data[i].data.name.replace(' ', '-')}`
    console.log(src.data[i].data)
    // user.appendChild(status)
    userTime.className = "";
    userWrap.className = 'userWrap'
    userWrap.appendChild(user);
    userWrap.appendChild(userTime);
    userList.appendChild(userWrap);



  }
}

}

function scroll() {
  let html = document.querySelector('html');
  let leftScroll = document.querySelector('#leftScroll');
  leftScroll.addEventListener('click',  function(e){
    html.scrollLeft = 100;
  })
  let rightScroll = document.querySelector('#rightScroll');
  rightScroll.addEventListener('click',  function(e){
    html.scrollRight = 100;
  })
}
//   $("#myButton").click(function() {
//     $('html, body').animate({
//         scrollTop: $("#foo4").offset().top
//     }, 2000);
//   }
// }


window.onload = getUsersName();
window.onload = getTasks();
window.onload = function(){
  const createTaskBtn = document.querySelector("#createTask");
  createTaskBtn.addEventListener('click',  async function(e){
    e.preventDefault();
      createTask();
      console.log("createTask")
      await sleep(1000);
      location.href = location.href;
    });}
// window.onload = scroll();

let chk = false;
var n =  0;
document.getElementById("assignto").addEventListener("keyup", function(e) {
  if(e.key === '@'){
    console.log('on')
    chk = true;

  }
  }, false);


$("#assignto").autocomplete({
  minLength: 0,
  source: function (request, response) {
      $.ajax({
          url: '/api/autocomplete/' + request.term.split('@')[request.term.split('@').length - 1], //
          type: "Get",
          dataType: "json",
          // data: {
          //     key: request.term    //Name欄位輸入的資訊傳給後端
          // },
          //成功取得資料後用Map來整理回傳的資料
          success: function (data) { 
              response($.map(data, function (item) {
                  console.log(item); //練習時印出來方便觀看資料的長相
                  return {
                      // label和value是基本參數
                      label: item,  //列表所顯示的文字
                      value: item, 	//列表選項的值
                      // phone: item.phone,	//自訂義要多帶的值
                      // email: item.email	//自訂義要多帶的值
                  };
              }));
          }
      });
  },
//focus參數事件介紹 : 在下拉選單匹配時如果滑鼠有焦點到會觸發事件
//下方是指當使用者只是焦點到某個選項就將名子帶#name輸入框中
  focus: function (event, ui) {
    if(chk){
      let str = $("#assignto").val()
      // var regexp = new RegExp('#([^\\s]*)','g');
      // let tags = str.replace(regexp, 'REPLACED');
      var pos = str.lastIndexOf('@');
      const sstr = str.slice(0, pos);
      let estr = str.slice(pos, str.length - 1);
      console.log('1', sstr);
      console.log('2', estr);

      estr = '@' + ui.item.label;
      $("#assignto").val(sstr+estr);
      chl = false;
    }
      return false;
  },
//select參數事件介紹 : 使用者選擇下拉式某項目後觸發事件
//當使用者選擇某項目後自動將所有的值帶進輸入框中
  select: function (event, ui) {
    if(chk){
      let str = $("#assignto").val()
      // var regexp = new RegExp('#([^\\s]*)','g');
      // let tags = str.replace(regexp, 'REPLACED');
      var pos = str.lastIndexOf('@');
      const sstr = str.slice(0, pos);
      let estr = str.slice(pos, str.length - 1);
      console.log('1', sstr);
      console.log('2', estr);

      estr = '@' + ui.item.label;
      $("#assignto").val(sstr+estr);
      chl = false;
    }
      // $("#contactPhone").val(ui.item.phone);
      // $("#contactEMail").val(ui.item.email);
      return false;
  }
});


//websocket
const socket = io()
socket.on('connection'), async () => {

  // console.log(USER_ID)

  // socket.emit('join-lobby', USER_ID)
  
  // socket.on('join-lobby'), async (user_id) => {
  //   console.log('join-lobby', user_id)
  // const status = document.querySelector(`#status-`+user_id)
  // status.style = 'color:green;'
  }

// }
// socket.on('user-connected', async (user_id) => {
  
//   console.log("user-connected ", USER_ID);


// });
  </script>
</head>
<body>
  <p id="msg">連線中，請稍後約15秒~</p>
  <button onclick="addPostShow()" id="addPostShowBtn" class="center">+</button>
  <div class="man"></div>
  <div class="secondbody">
    <div class="middle">
        <div class="pptmid">

          <iframe src="https://onedrive.live.com/embed?cid=C52A80FDE5D61728&amp;resid=C52A80FDE5D61728%21115&amp;authkey=AF6V1336A2cdTRs&amp;em=2&amp;wdAr=1.3333333333333333" width="722px" height="565px" frameborder="0">這是 <a target="_blank" href="https://office.com/webapps">Office</a> 提供的內嵌 <a target="_blank" href="https://office.com">Microsoft Office</a> 簡報。</iframe>

        </div>
    </div>
</div>
<div id="post" class="form-container center">
  <form>
    <div>
      <input type="text" name="subject" id="subject" placeholder="Subject"/>
    </div>
    <div>
      <label>Type:</label>
      <select type="select" name="type" id="type">
        <option value="om">Office Meeting</option>
        <option value="vc">Video Conference</option>
        <option value="tsk">Task</option>
      </select>
    </div>
    <div>
      <input name="detail" id="detail" style="resize: none;  height: 5em;" placeholder="Detail"></input>
      <textarae />
    </div>
    <div>
      <input ype="text" name="assignto" id="assignto" placeholder="Assign To ... use '@'"/>
    </div>
    <div>
      <input type="text" name="location" id="location" placeholder="Location"/>
    </div>
    <div>
      <label>Start At:</label>
      <input type="date" name="startat" id="startat"/>
    </div>
    <div>
      <label>End At:</label>
      <input type="date" name="endat" id="endat"/>
    </div>
    <div>
      <label>Priority:</label>
      <select type="select" name="important" id="important">
        <option value="y">Important</option>
        <option value="n">Medium</option>
      </select>
      <!-- <select type="select" name="urgent" id="urgent">
        <option value="y">Urgent</option>
        <option value="n">Not Urgent</option>
      </select> -->
    </div>
    <button id="createTask">Assign</button>
  </form>

</div>
  <!-- <a href='/video' style="text-align:center;display: flex; justify-content: center;"><i class="fa fa-times rematch" ></i></a> -->
</body>
<script>
  // rematch = document.getElementById('rematch');
</script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script>

const socket = io()
const videoGrid = document.querySelector('.man')
const msg = document.getElementById('msg')
const myPeer = new Peer()
const myVideo = document.createElement('video')
myVideo.muted = true
const peers = {}
navigator.mediaDevices.getUserMedia({
  video: true,
  audio: true
}).then(stream => {
  addVideoStream(myVideo, stream)

  myPeer.on('call', call => {
    call.answer(stream)
    const video = document.createElement('video')
    call.on('stream', userVideoStream => {
      addVideoStream(video, userVideoStream)
    })
  })

  socket.on('user-connected', userId => {
    console.log("User Connected " + userId)
    connectToNewUser(userId, stream)
  })
})

socket.on('user-disconnected', userId => {
  if (peers[userId]) peers[userId].close()
})

myPeer.on('open', id => {
	console.log(ROOM_ID, id)
	if ( id ){msg.innerHTML = '';}
  socket.emit('join-room', ROOM_ID, id)//
})

function connectToNewUser(userId, stream) {
  const call = myPeer.call(userId, stream)
  const video = document.createElement('video')
  call.on('stream', userVideoStream => {
    addVideoStream(video, userVideoStream)
  })
  call.on('close', () => {
    video.remove()
  })

  peers[userId] = call
}

function addVideoStream(video, stream) {
  video.srcObject = stream
  video.addEventListener('loadedmetadata', () => {
    video.play()
  })
  const container = document.createElement('div')
  container.className = 'v-container'
  const person = document.createElement('div')
  person.className = 'person'
  // container.appendChild(person)
  if(video){
    person.appendChild(video)
    videoGrid.append(person)
  }
}


</script>

</html>